# Initialization of Packages

In [2]:
from tabula import read_pdf
from tabulate import tabulate
import PyPDF2 as pdf
import re

# For 2018-19

## Consolidated Balance Sheet

In [4]:
# open the pdf file
object = pdf.PdfFileReader("APL-Annual-Report-2018-19.pdf")

# get number of pages
NumPages = object.getNumPages()

# define keyterms
String = "CONSOLIDATED BALANCE SHEET"

# extract text and do the search
for i in range(0, NumPages):
    PageObj = object.getPage(i)
    Text = PageObj.extractText() 
    # print(Text)
    if  re.search(String, Text) != None:
        print("This is page " + str(i))
        page=object.getPage(i)
        pdf_writer=pdf.PdfFileWriter()
        pdf_writer.addPage(page)
        output=open('balancesheet_aurobindo_1819.pdf','wb')
        pdf_writer.write(output)
        output.close()
        df=read_pdf('balancesheet_aurobindo_1819.pdf')
df[0]

'pages' argument isn't specified.Will extract only from page 1 by default.

This is page 213

                                           Unnamed: 0  Unnamed: 1    Note          As at        As at.1
0                                                 NaN         NaN     NaN  31 March 2019  31 March 2018
1                                            I ASSETS         NaN     NaN            NaN            NaN
2                                  Non-current assets         NaN     NaN            NaN            NaN
3                   (a) Property, plant and equipment         NaN       3       56,936.5       47,365.6
4                        (b) Capital work-in-progress         NaN       3       13,419.4       13,995.4
5                                        (c) Goodwill         NaN       4        8,325.1        8,165.5
6                         (d) Other intangible assets         NaN       5       19,486.9        9,675.7
7             (e) Intangible assets under development         NaN       5        3,265.2        1,835.0
8   (f) Investments accounted for using the equity...         NaN    6(A)        2,475.6        2,307.9
9                                (g) Financial assets         NaN     NaN            NaN            NaN
10                                    (i) Investments         NaN    6(B)        1,126.4          807.3
11                                         (ii) Loans         NaN    7(A)           64.6           54.4
12                            (iii) Trade receivables         NaN    8(A)           11.9              -
13                        (iv) Other financial assets         NaN    9(A)          893.8          868.3
14                      (h) Deferred tax assets (net)         NaN   10(A)        1,832.9        1,588.0
15                   (i) Non-current tax assets (net)         NaN   11(A)        1,381.1          825.9
16                       (j) Other non-current assets         NaN   12(A)        1,679.2        1,739.8
17                           Total non-current assets         NaN     NaN      110,898.6       89,228.8
18                                     Current assets         NaN     NaN            NaN            NaN
19                                    (a) Inventories         NaN      13       72,456.0       58,584.1
20                               (b) Financial assets         NaN     NaN            NaN            NaN
21                                    (i) Investments         NaN    6(C)            0.2            0.2
22                             (ii) Trade receivables         NaN    8(B)       34,137.8       30,802.0
23                    (iii) Cash and cash equivalents         NaN   14(A)       18,837.0       12,140.0
24          (iv) Bank balances other than (iii) above         NaN   14(B)          734.8          482.5
25                                          (v) Loans         NaN    7(B)          102.6           86.6
26                        (vi) Other financial assets         NaN    9(B)       13,634.6        7,942.0
27                       (c) Current tax assets (net)         NaN   11(B)          345.6          645.5
28                           (d) Other current assets         NaN   12(B)       13,396.5       11,098.7
29                               Total current assets         NaN     NaN      153,645.1      121,781.6
30                                       TOTAL ASSETS         NaN     NaN      264,543.7      211,010.4
31                          II EQUITY AND LIABILITIES         NaN     NaN            NaN            NaN
32                                             Equity         NaN     NaN            NaN            NaN
33                           (a) Equity share capital         NaN      15          585.9          585.9
34                                   (b) Other equity         NaN      16      138,321.9      116,218.3
35  Equity attributable to owners of the Parent Co...         NaN     NaN      138,907.8      116,804.2
36                       (c) Non-controlling interest         NaN     NaN           15.9           18.2
37                                       Total equity         NaN     NaN      138,923.7      116,822.4
38                                        Liabilities         NaN     NaN            NaN            NaN
39                            Non-current liabilities         NaN     NaN            NaN            NaN
40                          (a) Financial liabilities         NaN     NaN            NaN            NaN
41                                         Borrowings         NaN   17(A)        1,799.5        4,512.0
42                                     (b) Provisions         NaN   18(A)          465.4          558.6
43                 (c) Deferred tax liabilities (net)         NaN   10(B)        2,813.1        2,352.8
44                  (d) Other non-current liabilities         NaN  21 (A)          113.0          105.7
45                      Total non-current liabilities         NaN     NaN        5,191.0        7,529.1
46                                Current liabilities         NaN     NaN            NaN            NaN
47                          (a) Financial liabilities         NaN     NaN            NaN            NaN
48                                     (i) Borrowings         NaN   17(B)       65,732.1       40,313.4
49                                (ii) Trade payables         NaN      19            NaN            NaN
50  (A)  total outstanding dues of micro enterpris...         NaN     NaN          336.1          308.3
51  (B)  total outstanding dues of creditors other...         NaN     NaN       26,435.2       23,420.7
52                  (iii) Other financial liabilities         NaN      20       16,614.6       15,045.2
53                      (b) Other current liabilities         NaN  21 (B)        8,839.5        4,629.0
54                                     (c) Provisions         NaN   18(B)        1,808.8        1,972.8
55                  (d) Current tax liabilities (net)         NaN      22          662.7          969.5
56                          Total current liabilities         NaN     NaN      120,429.0       86,658.9
57                       TOTAL EQUITY AND LIABILITIES         NaN     NaN      264,543.7      211,010.4
58         Summary of significant accounting policies         NaN     2.3            NaN            NaN

In [4]:
#Chairmans Message
# open the pdf file
object = pdf.PdfFileReader("APL-Annual-Report-2018-19.pdf")

# get number of pages
NumPages = object.getNumPages()

# define keyterms
String = "VICE CHAIRMAN’S REVIEW"
String1 = "Vice Chairman"

# extract text and do the search
for i in range(0, NumPages):
    PageObj = object.getPage(i)
    Text = PageObj.extractText() 
    # print(Text)
    if  re.search(String, Text) != None and re.search(String1, Text)!=None:
        print("This is page " + str(i))
        page=object.getPage(i)
        pdf_writer=pdf.PdfFileWriter()
        pdf_writer.addPage(page)
        output=open('cmessage_1819.pdf','wb')
        pdf_writer.write(output)
        output.close()

## Consolidated Profit and Loss Statement

In [5]:
# open the pdf file
object = pdf.PdfFileReader("APL-Annual-Report-2018-19.pdf")

# get number of pages
NumPages = object.getNumPages()

# define keyterms
String = "CONSOLIDATED STATEMENT OF PROFIT AND LOSS"

# extract text and do the search
for i in range(0, NumPages):
    PageObj = object.getPage(i)
    Text = PageObj.extractText() 
    # print(Text)
    if  re.search(String, Text) != None:
        print("This is page " + str(i))
        page=object.getPage(i)
        pdf_writer=pdf.PdfFileWriter()
        pdf_writer.addPage(page)
        output=open('profit_loss_1819.pdf','wb')
        pdf_writer.write(output)
        output.close()
        df=read_pdf('profit_loss_1819.pdf')
df[0]

'pages' argument isn't specified.Will extract only from page 1 by default.

This is page 214

   Unnamed: 0                                         Unnamed: 1  Note     Year ended   Year ended.1
0         NaN                                                NaN   NaN  31 March 2019  31 March 2018
1           I                                             INCOME   NaN            NaN            NaN
2         NaN                            Revenue from operations  23.0      195,635.5      164,998.3
3         NaN                                       Other income  24.0        1,553.2        1,019.8
4         NaN                                   TOTAL INCOME (I)   NaN      197,188.7      166,018.1
5          II                                           EXPENSES   NaN            NaN            NaN
6         NaN                         Cost of materials consumed  25.0       74,449.9       56,293.8
7         NaN                        Purchases of stock-in-trade   NaN       19,432.0       16,058.8
8         NaN  Changes in inventories of finished goods, stoc...  26.0      (6,755.5)      (4,825.2)
9         NaN                          Employee benefits expense  27.0       25,848.7       21,308.4
10        NaN                                      Finance costs  28.0        2,626.0          777.2
11        NaN              Depreciation and amortisation expense  29.0        6,679.5        5,579.7
12        NaN                                     Other expenses  30.0       43,141.0       38,445.0
13        NaN                                TOTAL EXPENSES (II)   NaN      165,421.6      133,637.7
14        III  PROFIT BEFORE SHARE OF PROFIT OF JOINT VENTURE...   NaN       31,767.1       32,380.4
15        NaN                                     AND TAX (I-II)   NaN            NaN            NaN
16         IV     Share of profit of joint ventures (net of tax)   NaN           27.0           31.4
17          V   PROFIT BEFORE EXCEPTIONAL ITEMS AND TAX (III+IV)   NaN       31,794.1       32,411.8
18         VI                                  Exceptional items  48.0          880.6              -
19        VII                           PROFIT BEFORE TAX (V-VI)   NaN       30,913.5       32,411.8
20       VIII                                        TAX EXPENSE  31.0            NaN            NaN
21        NaN                                        Current tax   NaN        7,120.7        7,123.0
22        NaN           Tax credit - Minimum Alternate Tax (MAT)   NaN        (510.0)        (433.2)
23        NaN                                       Deferred tax   NaN          657.8        1,492.9
24        NaN                           TOTAL TAX EXPENSE (VIII)   NaN        7,268.5        8,182.7
25         IX                     PROFIT FOR THE YEAR (VII-VIII)   NaN       23,645.0       24,229.1
26          X                         OTHER COMPREHENSIVE INCOME   NaN            NaN            NaN
27        NaN  (A) Items that will not to be reclassified sub...   NaN            NaN            NaN
28        NaN  (i) Re-measurement of defined employee benefit...   NaN         (26.1)         (36.7)
29        NaN  (ii) Income-tax relating to items that will no...   NaN           10.7           13.1
30        NaN  (B) Items that will be reclassified subsequent...   NaN            NaN            NaN
31        NaN  (i)  Exchange differences on translating the f...   NaN         (26.6)        1,519.1
32        NaN  (ii) Income-tax on items that will be reclassi...   NaN              -              -
33        NaN  TOTAL OTHER COMPREHENSIVE INCOME FOR THE YEAR ...   NaN         (42.0)        1,495.5
34         XI  TOTAL COMPREHENSIVE INCOME FOR THE YEAR (NET O...   NaN       23,603.0       25,724.6
35        NaN                                   Attributable to:   NaN            NaN            NaN
36        NaN                       Owners of the Parent Company   NaN       23,605.3       25,727.2
37        NaN                           Non-controlling interest   NaN          (2.3)          (2.6)
38        NaN       OUT OF THE TOTAL COMPREHENSIVE INCOME ABOVE,   NaN            NaN            NaN
39        NaN               Profit for the year attributable to:   NaN            NaN            NaN
40        NaN                       Owners of the Parent Company   NaN       23,647.3       24,231.7
41        NaN                           Non-controlling interest   NaN          (2.3)          (2.6)
42        NaN        Other comprehensive income attributable to:   NaN            NaN            NaN
43        NaN                       Owners of the Parent Company   NaN         (42.0)        1,495.5
44        NaN                           Non-controlling interest   NaN              -              -
45        XII                         EARNINGS PER EQUITY SHARE:  34.0            NaN            NaN
46        NaN                                   (i) Basic (in `)   NaN          40.36          41.36
47        NaN                                (ii) Diluted (in `)   NaN          40.36          41.36
48        NaN                     Nominal value per equity share   NaN           1.00           1.00
49        NaN         Summary of significant accounting policies   2.3            NaN            NaN

## Consolidated Statement of Cash Flows

In [6]:
# open the pdf file
object = pdf.PdfFileReader("APL-Annual-Report-2018-19.pdf")

# get number of pages
NumPages = object.getNumPages()
String2 = "CONSOLIDATED STATEMENT OF CASH FLOWS"
pdf_writer=pdf.PdfFileWriter()
for i in range(0, NumPages):
    PageObj = object.getPage(i)
    Text = PageObj.extractText() 
    # print(Text)
    if  re.search(String2, Text) != None:
        print("This is page " + str(i))
        page=object.getPage(i)
        pdf_writer.addPage(page)
output=open('cashflow_1819.pdf','wb')
pdf_writer.write(output)
output.close()

This is page 217
This is page 218

# For 2017-18

## Consolidated Balance Sheet

In [7]:
# open the pdf file
object = pdf.PdfFileReader("Annual-Report-2017-18.pdf")

# get number of pages
NumPages = object.getNumPages()

# define keyterms
String = "CONSOLIDATED BALANCE SHEET"

# extract text and do the search
for i in range(0, NumPages):
    PageObj = object.getPage(i)
    Text = PageObj.extractText() 
    # print(Text)
    if  re.search(String, Text) != None:
        print("This is page " + str(i))
        page=object.getPage(i)
        pdf_writer=pdf.PdfFileWriter()
        pdf_writer.addPage(page)
        output=open('balancesheet_aurobindo_1718.pdf','wb')
        pdf_writer.write(output)
        output.close()
        df=read_pdf('balancesheet_aurobindo_1718.pdf')
df[0]

'pages' argument isn't specified.Will extract only from page 1 by default.

This is page 205

   Unnamed: 0                                         Unnamed: 1 Unnamed: 2          As at        As at.1
0         NaN                                                NaN      Notes  31 March 2018  31 March 2017
1           I                                             ASSETS        NaN            NaN            NaN
2         NaN                                 Non-current assets        NaN            NaN            NaN
3         NaN                 (a)  Property, plant and equipment          3       47,365.6       40,830.5
4         NaN                      (b)  Capital work-in-progress          3       13,995.4       12,373.6
5         NaN                                      (c)  Goodwill          4        8,165.5        4,063.0
6         NaN                       (d)  Other intangible assets          5        9,675.7        3,444.3
7         NaN           (e)  Intangible assets under development          5        1,835.0        2,207.2
8         NaN                              (f)  Financial assets        NaN            NaN            NaN
9         NaN                                    (i) Investments       6(A)        3,115.2        2,458.5
10        NaN                             (ii) Trade receivables       7(A)              -              -
11        NaN                                        (iii) Loans       8(A)           54.4           57.0
12        NaN                        (iv) Other financial assets       9(A)          874.6          751.7
13        NaN                     (g)  Deferred tax assets (net)      10(A)        1,588.0        1,677.6
14        NaN                  (h)  Non-current tax assets (net)      11(A)          825.9          579.8
15        NaN                      (i)  Other non-current assets      12(A)        1,678.3        1,989.2
16        NaN                           Total non-current assets        NaN       89,173.6       70,432.4
17        NaN                                     Current assets        NaN            NaN            NaN
18        NaN                                   (a)  Inventories         13       58,584.1       43,305.4
19        NaN                              (b)  Financial assets        NaN            NaN            NaN
20        NaN                                   (i)  Investments       6(B)            0.2            0.2
21        NaN                            (ii)  Trade receivables       7(B)       30,843.6       27,653.3
22        NaN                   (iii)  Cash and cash equivalents      14(A)       12,159.0        4,894.4
23        NaN         (iv)  Bank balances other than (iii) above      14(B)          457.2          240.4
24        NaN                                         (v)  Loans       8(B)          101.9          108.9
25        NaN                       (vi)  Other financial assets       9(B)        7,942.0        7,576.5
26        NaN                      (c)  Current tax assets (net)      11(B)          645.5          175.1
27        NaN                          (d)  Other current assets      12(B)       11,144.9        8,107.6
28        NaN                               Total current assets        NaN      121,878.4       92,061.8
29        NaN                                       TOTAL ASSETS        NaN      211,052.0      162,494.2
30        II.                             EQUITY AND LIABILITIES        NaN            NaN            NaN
31        NaN                                             Equity        NaN            NaN            NaN
32        NaN                          (a)  Equity share capital         15          585.9          585.9
33        NaN                                  (b)  Other equity         16      116,218.3       93,133.2
34        NaN  Equity attributable to equity holders of Paren...        NaN      116,804.2       93,719.1
35        NaN                      (c)  Non-controlling interest        NaN           18.2           20.8
36        NaN                                       Total equity        NaN      116,822.4       93,739.9
37        NaN                                        Liabilities        NaN            NaN            NaN
38        NaN                            Non-current liabilities        NaN            NaN            NaN
39        NaN                         (a)  Financial liabilities        NaN            NaN            NaN
40        NaN                                    (i)  Borrowings      17(A)        4,512.0        1,814.0
41        NaN                                    (b)  Provisions      18(A)          558.6          391.3
42        NaN                (c)  Deferred tax liabilities (net)      10(B)        2,352.8          493.0
43        NaN                      Total non-current liabilities        NaN        7,423.4        2,698.3
44        NaN                                Current liabilities        NaN            NaN            NaN
45        NaN                         (a)  Financial liabilities        NaN            NaN            NaN
46        NaN                                    (i)  Borrowings      17(B)       40,313.4       29,027.2
47        NaN                               (ii)  Trade payables         19       26,274.4       21,547.0
48        NaN                 (iii)  Other financial liabilities         20        5,100.0        4,693.8
49        NaN                     (b)  Other current liabilities         21       12,678.0        8,174.4
50        NaN                                     (c) Provisions      18(B)        2,009.3        2,349.0
51        NaN                 (d)  Current tax liabilities (net)         22          431.1          264.6
52        NaN                          Total current liabilities        NaN       86,806.2       66,056.0
53        NaN                       TOTAL EQUITY AND LIABILITIES        NaN      211,052.0      162,494.2
54        NaN         Summary of significant accounting policies        2.3            NaN            NaN

## Consolidated Profit and Loss Statement

In [8]:
# open the pdf file
object = pdf.PdfFileReader("Annual-Report-2017-18.pdf")

# get number of pages
NumPages = object.getNumPages()

# define keyterms
String = "CONSOLIDATED STATEMENT OF PROFIT AND LOSS"

# extract text and do the search
for i in range(0, NumPages):
    PageObj = object.getPage(i)
    Text = PageObj.extractText() 
    # print(Text)
    if  re.search(String, Text) != None:
        print("This is page " + str(i))
        page=object.getPage(i)
        pdf_writer=pdf.PdfFileWriter()
        pdf_writer.addPage(page)
        output=open('profit_loss_1718.pdf','wb')
        pdf_writer.write(output)
        output.close()
        df=read_pdf('profit_loss_1718.pdf')
df[0]

This is page 206

'pages' argument isn't specified.Will extract only from page 1 by default.

   Unnamed: 0                                         Unnamed: 1 Unnamed: 2     Year ended   Year ended.1
0         NaN                                                NaN       Note  31 March 2018  31 March 2017
1           I                                             INCOME        NaN            NaN            NaN
2         NaN                            Revenue from operations         23      164,998.3      150,898.6
3         NaN                                       Other income         24        1,019.8        1,158.9
4         NaN                                   TOTAL INCOME (I)        NaN      166,018.1      152,057.5
5          II                                           EXPENSES         25            NaN            NaN
6         NaN                         Cost of materials consumed        NaN       56,293.8       51,849.2
7         NaN                        Purchases of stock-in-trade         26       16,058.8       15,585.4
8         NaN  Changes in inventories of finished goods, stoc...         27      (4,825.2)      (3,092.0)
9         NaN                          Employee benefits expense         28       21,308.4       17,677.6
10        NaN                                      Finance costs         29          777.2          667.2
11        NaN              Depreciation and amortisation expense         30        5,579.7        4,276.3
12        NaN                                     Other expenses        NaN       38,445.0       34,535.6
13        NaN                                TOTAL EXPENSES (II)        NaN      133,637.7      121,499.3
14        III  PROFIT BEFORE SHARE OF PROFIT OF JOINT VENTURE...        NaN       32,380.4       30,558.2
15         IV     Share of profit of joint ventures (net of tax)        NaN           31.4           50.2
16          V                         PROFIT BEFORE TAX (III+IV)        NaN       32,411.8       30,608.4
17         VI                                      TAX EXPENSE :         31            NaN            NaN
18        NaN                                        Current tax        NaN        7,123.0        6,917.0
19        NaN           Tax credit - Minimum Alternate Tax (MAT)        NaN        (433.2)        (642.8)
20        NaN                                       Deferred tax        NaN        1,492.9        1,322.3
21        NaN                             TOTAL TAX EXPENSE (VI)        NaN        8,182.7        7,596.5
22        VII         PROFIT FOR THE YEAR ATTRIBUTABLE TO (V-VI)        NaN       24,229.1       23,011.9
23        NaN                       Owners of the Parent Company        NaN       24,231.7       23,016.6
24        NaN                           Non-controlling interest        NaN          (2.6)          (4.7)
25        NaN                          PROFIT FOR THE YEAR (VII)        NaN       24,231.7       23,016.6
26       VIII                         OTHER COMPREHENSIVE INCOME        NaN            NaN            NaN
27        NaN  (A) Items that will not to be reclassified sub...        NaN            NaN            NaN
28        NaN  (i)  Re-measurement of defined employee benefi...        NaN         (36.7)         (87.6)
29        NaN  (ii)  Income-tax relating to items that will n...        NaN           13.1           29.7
30        NaN  (B)  Items that will be reclassified subsequen...        NaN            NaN            NaN
31        NaN  (i)   Exchange differences on translating the ...        NaN        1,519.1        (804.4)
32        NaN  (ii)  Income-tax on items that will be reclass...        NaN              -              -
33        NaN  TOTAL OTHER COMPREHENSIVE INCOME FOR THE YEAR ...        NaN        1,495.5        (862.3)
34         IX  TOTAL COMPREHENSIVE INCOME FOR THE YEAR (NET O...        NaN       25,727.2       22,154.3
35        NaN                       Owners of the Parent Company        NaN       25,729.8       22,159.0
36        NaN                           Non-controlling interest        NaN          (2.6)          (4.7)
37          X                         EARNINGS PER EQUITY SHARE:         34            NaN            NaN
38        NaN                                  (i)  Basic (in `)        NaN          41.36          39.33
39        NaN                               (ii)  Diluted (in `)        NaN          41.36          39.33
40        NaN                     Nominal value per equity share        NaN           1.00           1.00
41        NaN         Summary of significant accounting policies        2.3            NaN            NaN

## Consolidated Statement of Cash Flow

It has some error. We need to look into it

In [ ]:
# open the pdf file
object = pdf.PdfFileReader("Annual-Report-2017-18.pdf")

# get number of pages
NumPages = object.getNumPages()
String1 = "CONSOLIDATED STATEMENT OF CASH FLOW"
String2 = "Adjustments to reconcile profit before tax to net cash flows:"
String3 = "ICAI Firm Registration Number: 116231W/ W-100024"
String4 = "B. Adi Reddy"
pdf_writer=pdf.PdfFileWriter()
for i in range(0, NumPages):
    PageObj = object.getPage(i)
    Text = PageObj.extractText() 
    # print(Text)
    if  re.search(String1, Text) != None and re.search(String3, Text) != None and re.search(String4, Text) != None: 
        print("This is page " + str(i))
        page=object.getPage(i)
        pdf_writer.addPage(page)
output=open('cashflow_1718.pdf','wb')
pdf_writer.write(output)
output.close()

# For 2016-17

## Consolidated Balance Sheet

In [18]:
# open the pdf file
object = pdf.PdfFileReader("Annual-Report-2016-17.pdf")

# get number of pages
NumPages = object.getNumPages()

# define keyterms
String1 = "Balance Sheet as at March 31, 2017"
String2= "B. Adi Reddy"
String3="ICAI Firm Registration No. 101049W/E300004"

# extract text and do the search
for i in range(0, NumPages):
    PageObj = object.getPage(i)
    Text = PageObj.extractText() 
    # print(Text)
    if  re.search(String1, Text) != None and re.search(String2, Text) != None and re.search(String3, Text) != None:
        print("This is page " + str(i))
        page=object.getPage(i)
        pdf_writer=pdf.PdfFileWriter()
        pdf_writer.addPage(page)
        output=open('balancesheet_aurobindo_1617.pdf','wb')
        pdf_writer.write(output)
        output.close()
        df=read_pdf('balancesheet_aurobindo_1617.pdf')

'pages' argument isn't specified.Will extract only from page 1 by default.

This is page 115

Got stderr: Feb 03, 2020 7:48:33 PM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font Arial-BoldMT for OfficinaSans-Bold
Feb 03, 2020 7:48:33 PM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font ArialMT for OfficinaSans-Book

'pages' argument isn't specified.Will extract only from page 1 by default.

This is page 167

Got stderr: Feb 03, 2020 7:48:42 PM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font Arial-BoldMT for OfficinaSans-Bold
Feb 03, 2020 7:48:42 PM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font ArialMT for OfficinaSans-Book

## Consolidated Profit and Loss Statement

In [19]:
# open the pdf file
object = pdf.PdfFileReader("Annual-Report-2016-17.pdf")

# get number of pages
NumPages = object.getNumPages()

# define keyterms
String1 = "Consolidated Statement of Profit and Loss for the year ended March 31, 2017"
String2= "B. Adi Reddy"
String3="ICAI Firm Registration No. 101049W/E300004"
# extract text and do the search
for i in range(0, NumPages):
    PageObj = object.getPage(i)
    Text = PageObj.extractText() 
    # print(Text)
    if  re.search(String1, Text) != None and re.search(String2, Text) != None and re.search(String3, Text) != None:
        print("This is page " + str(i))
        page=object.getPage(i)
        pdf_writer=pdf.PdfFileWriter()
        pdf_writer.addPage(page)
        output=open('profit_loss_1617.pdf','wb')
        pdf_writer.write(output)
        output.close()
        df=read_pdf('profit_loss_1617.pdf')

'pages' argument isn't specified.Will extract only from page 1 by default.

This is page 168

Got stderr: Feb 03, 2020 7:51:37 PM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font Arial-BoldMT for OfficinaSans-Bold
Feb 03, 2020 7:51:37 PM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font ArialMT for OfficinaSans-Book
Feb 03, 2020 7:51:37 PM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font Arial-BoldMT for OfficinaSans-Bold
Feb 03, 2020 7:51:37 PM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font ArialMT for OfficinaSans-Book
Feb 03, 2020 7:51:40 PM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font Arial-BoldMT for OfficinaSans-Bold
Feb 03, 2020 7:51:40 PM org.apache.pdfbox.pdmodel.font.PDType1Font <init>
WARNING: Using fallback font ArialMT for OfficinaSans-Book

## Consolidated Statement of Cash Flows

In [24]:
# open the pdf file
object = pdf.PdfFileReader("Annual-Report-2016-17.pdf")

# get number of pages
NumPages = object.getNumPages()
String1 = "Consolidated Cash Flow Statement for the year ended March 31, 2017"
String2 = "B. Adi Reddy"
String3 = "ICAI Firm Registration No. 101049W/E300004"
String4 = "CASH AND CASH EQUIVALENTS AT THE END OF THE YEAR"
pdf_writer=pdf.PdfFileWriter()
for i in range(0, NumPages):
    PageObj = object.getPage(i)
    Text = PageObj.extractText() 
    # print(Text)
    if  re.search(String1, Text) != None or (re.search(String2, Text) != None and re.search(String3, Text) != None) and re.search(String4, Text) != None: 
        print("This is page " + str(i))
        page=object.getPage(i)
        pdf_writer.addPage(page)
output=open('cashflow_1617.pdf','wb')
pdf_writer.write(output)
output.close()

This is page 170
This is page 171