In [15]:
from tabula import read_pdf
from tabulate import tabulate
import PyPDF2 as pdf
import re
import camelot

In [12]:
# open the pdf file
object = pdf.PdfFileReader("lupin-annual-report-2018-19.pdf")

# get number of pages
NumPages = object.getNumPages()

# define keyterms
String = "Consolidated Balance Sheet"
String1 = "as at March 31, 2019"

# extract text and do the search
for i in range(0, NumPages):
    PageObj = object.getPage(i)
    Text = PageObj.extractText() 
    # print(Text)
    if  re.search(String, Text) != None and re.search(String1, Text) != None:
        print("This is page " + str(i))
        page=object.getPage(i)
        pdf_writer=pdf.PdfFileWriter()
        pdf_writer.addPage(page)
        output=open('balancesheet_1819.pdf','wb')
        pdf_writer.write(output)
        output.close()
        df=read_pdf('balancesheet_1819.pdf')
df[0]

'pages' argument isn't specified.Will extract only from page 1 by default.

This is page 125

,Venkataramanan Vishwanath,Manju D. Gupta,Dr. Kamal K. Sharma,Vinita Gupta,Nilesh Deshbandhu Gupta,R. A. Shah
0,Partner,Chairperson,Vice Chairman,Chief Executive Officer,Managing Director,Director
1,Membership No. 113156,DIN: 00209461,DIN: 00209430,DIN: 00058631,DIN: 01734642,DIN: 00009851
2,NaN,Richard Zahn,Dr. K. U. Mada,Dileep C. Choksi,Sunil Makharia,R.V. Satam
3,Place: Mumbai,Director,Director,Director,President - Finance,Company Secretary
4,"Date: May 15, 2019",DIN: 02937226,DIN: 00011395,DIN: 00016322,NaN,ACS - 11973

In [16]:
df1=camelot.read_pdf("balancesheet_1819.pdf")

In [17]:
df1

In [21]:
df=read_pdf("balancesheet_1819.pdf",multiple_tables=True)

'pages' argument isn't specified.Will extract only from page 1 by default.

In [24]:
df[1]

,Unnamed: 0,Note,As at,As at.1
0,NaN,NaN,31.03.2019,31.03.2018
1,Assets,NaN,NaN,NaN
2,Non-Current Assets,NaN,NaN,NaN
3,"a. Property, Plant and Equipment",2.0,"49,115.3","49,074.2"
4,b. Capital Work-in-Progress,NaN,"10,185.9","9,563.1"
5,c. Goodwill on Consolidation,50.0,"23,803.2","24,484.9"
6,d. Other Intangible Assets,3.0,"37,948.6","30,060.8"
7,e. Intangible Assets Under Development,NaN,"6,211.2","16,418.9"
8,f. Investment accounted for using equity method,4.0,251.8,211.4
9,g. Financial Assets,NaN,NaN,NaN
10,(i) Non-Current Investments,5.0,"1,604.5",55.7
11,(ii) Non-Current Loans,6.0,814.6,829.2
12,(iii) Other Non-Current Financial Assets,7.0,433.5,41.9
13,h. Deferred Tax Assets (Net),46.0,"7,340.0","7,165.6"
14,i. Non-Current Tax Assets (Net),NaN,"1,424.1","1,464.3"
15,j. Other Non-Current Assets,8.0,"1,825.2","1,588.4"
16,NaN,NaN,"140,957.9","140,958.4"
17,Current Assets,NaN,NaN,NaN
18,a. Inventories,9.0,"38,367.7","36,624.9"
19,b. Financial Assets,NaN,NaN,NaN
20,(i) Current Investments,10.0,"21,098.6","2,348.6"
21,(ii) Trade Receivables,11.0,"51,498.0","51,922.1"
22,(iii) Cash and Cash Equivalents,12.0,"5,722.1","13,941.1"
23,(iv) Other Bank Balances,13.0,"4,149.9",139.2
24,(v) Current Loans,14.0,248.4,199.0
25,(vi) Other Current Financial Assets,15.0,"6,393.4","4,364.9"
26,c. Current Tax Assets (Net),NaN,296.8,8.0
27,d. Other Current Assets,16.0,"10,760.9","12,461.6"
28,e. Assets Classified as Held for Sale,68.0,-,86.0
29,NaN,NaN,"138,535.8","122,095.4"
...,...,...,...,...
31,Equity and Liabilities,NaN,NaN,NaN
32,Equity,NaN,NaN,NaN
33,a. Equity Share Capital,17.0,905.0,904.2
34,b. Other Equity,18.0,"136,517.3","134,866.4"
35,Equity attributable to Owners of the Company,NaN,"137,422.3","135,770.6"
36,c. Non-Controlling Interest,52.0,468.6,400.8
37,NaN,NaN,"137,890.9","136,171.4"
38,Liabilities,NaN,NaN,NaN
39,Non-Current Liabilities,NaN,NaN,NaN
40,a. Financial Liabilities,NaN,NaN,NaN
41,(i) Non-Current Borrowings,19.0,"66,417.2","64,245.0"
42,(ii) Trade Payables,20.0,22.8,37.1
43,(iii) Other Non-Current Financial Liabilities,21.0,"4,128.6","3,476.7"
44,b. Non-Current Provisions,22.0,"3,707.9","3,568.5"
45,c. Deferred Tax Liabilities (Net),46.0,"2,882.8","2,855.3"
46,d. Other Non-Current Liabilities,23.0,"3,144.8","1,744.3"
47,NaN,NaN,"80,304.1","75,926.9"
48,Current Liabilities,NaN,NaN,NaN
49,a. Financial Liabilities,NaN,NaN,NaN
50,(i) Current Borrowings,24.0,"15,802.1","4,517.6"
51,(ii) Trade Payables,NaN,NaN,NaN
52,- Total outstanding dues of Micro Enterprises ...,25.0,"1,046.1","1,063.8"
53,- Total outstanding dues of other than Micro E...,25.0,"23,935.7","24,690.2"
54,(iii) Other Current Financial Liabilities,26.0,"10,885.3","12,827.2"
55,b. Other Current Liabilities,27.0,"1,912.9","2,344.4"
56,c. Current Provisions,28.0,"7,274.5","4,651.6"
57,d. Current Tax Liabilities (Net),NaN,442.1,860.7
58,NaN,NaN,"61,298.7","50,955.5"
59,Total,NaN,"279,493.7","263,053.8"
60,See accompanying notes forming part of the con...,NaN,NaN,NaN